<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="OAuth2_facebook_ClientID" value=""/>
    <add key="OAuth2_facebook_ClientSecret" value=""/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
</configuration>